/* Custom Font Declarations */

@font-face {
  font-family: 'Decathlon Brand';
  src: url('https://raw.githubusercontent.com/Decathlon-egypt/Decathlon-Egypt/main/Fonts/decathlon%20brand/Decathlon-Brand-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Janna LT';
  src: url('https://raw.githubusercontent.com/Decathlon-egypt/Decathlon-Egypt/main/Fonts/JannaLT/Janna%20LT%20Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IMG in ._promo-banner */

._promo-banner_right img {
  width: 100%;
}

/* Main deals block */

._promo-banner {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

._promo-banner_container {
  width: 100%;
  background: url('https://www.decathlon-source.eu/sk/assets/advent/advent-back.jpg');
  position: relative;
}

._promo-banner_container h3 {
  font-size: 3.2rem;
  margin: 0;
  color: white;
  padding: 1rem 3rem;
  font-weight: 700;
}

._promo-banner_bottom,
._promo-banner_counter {
  padding: 1rem 3rem;
}

._promo-banner_counter-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

._promo-banner_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

._promo-banner_left a {
  padding: .8rem 1rem;
  background: #3643BA;
  color: #fff !important;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0 !important;
  border-radius: 50px;
  transition: background-color .2s, color .2s;
}

._promo-banner_left a:hover {
  background: #fff;
  color: #3643BA !important;
}

._promo-banner_right {
  display: flex;
  align-items: center;
}

._promo-banner_wrapper {
  display: grid;
  grid-template-areas: "1 2";
  background: #c22f2cbd;
}

._promo-banner_counter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

._promo-banner_counter_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

._promo-banner_counter_item p {
  display: flex;
  margin: 0;
  padding: 6px;
  background: white;
  position: relative;
  color: black;
  width: 40px;
  height: 40px;
  font-weight: 700;
  aspect-ratio: 1;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  transition: 333ms;
}

._promo-banner_counter_item p::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #ffffff30;
  left: 0;
}

._promo-banner_counter-wrap > p {
  margin: 0;
  font-size: 12px;
}

._promo-banner_buttons {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

._promo-banner_wrapper > ._promo-banner_buttons,
._promo-banner_wrapper > a {
  display: none;
}

/* Mobile (≤ 999px) */

@media screen and (max-width: 999px) {
  ._promo-banner_container h3 {
    font-size: 1.6rem;
    padding: 1rem 3rem;
    text-align: center;
  }

  ._promo-banner_counter_item p {
    font-size: 24px;
  }

  ._promo-banner_left a {
    margin-top: .5rem;
    padding: .5rem .8rem;
    font-size: 14px;
  }

  ._promo-banner_bottom,
  ._promo-banner_container h3,
  ._promo-banner_counter {
    padding-bottom: .5rem;
  }
}

/* Mobile (≤ 599px) */

@media screen and (max-width: 599px) {
  ._promo-banner_wrapper > ._promo-banner_buttons a,
  ._promo-banner_wrapper > a {
    display: block;
    padding: .8rem 1rem;
    background: #3643BA;
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color .2s, color .2s;
  }

  ._promo-banner_wrapper > ._promo-banner_buttons a:hover,
  ._promo-banner_wrapper > a:hover {
    background: #fff;
    color: #3643BA !important;
  }

  ._promo-banner_wrapper {
    display: grid;
    grid-template-areas: "1" "2";
  }

  ._promo-banner_wrapper > a {
    margin: 1rem auto;
  }

  ._promo-banner_left {
    align-items: center;
    justify-content: center;
  }

  ._promo-banner_counter {
    padding: 1rem;
  }

  ._promo-banner_wrapper > ._promo-banner_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
  }
}

/* Middle Banner Styles */

#_middlebanner {
  margin: 60px 0;
  margin-top: 100px;
  background: #3643ba;
  position: relative;
  padding-bottom: 0;
}

#_middlebanner::after {
  position: absolute;
  content: "";
  bottom: -40px;
  height: 40px;
  width: 100%;
  left: 0;
  background: #ffffff;
}

._middlebanner-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  justify-items: start;
  height: calc(0.333 * 100vw);
  max-height: 400px;
  padding: 0 20px;
}

._middlebanner-left_inner {
  position: absolute;
  bottom: 0;
}

._middlebanner-left {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
}

._middlebanner-left_inner img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  ._middlebanner-left_inner img {
    max-height: 350px;
  }

  ._middlebanner-inner {
    grid-template-columns: 1fr 2fr;
    height: 300px;
  }
}

@media screen and (max-width: 599px) {
  ._middlebanner-left_inner img {
    box-sizing: border-box;
    max-height: 400px;
    padding: 0 1rem;
  }

  ._middlebanner-left_inner {
    position: unset;
    bottom: unset;
  }

  ._middlebanner-inner {
    height: unset;
    max-height: unset;
    padding: unset;
  }
}

._middlebanner-right {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: left;
  align-content: center;
  align-items: center;
  width: 100%;
}

._middlebanner-right_inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
}

#_middlebanner h4 {
  font-size: 28px;
  font-weight: 700;
  color: #7affa6;
  margin: 0;
}

#_middlebanner p {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin: 0;
}

#_middlebanner ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#_middlebanner li {
  color: white;
  font-size: 14px;
}

#_middlebanner a {
  background: #3643BA;
  display: inline-block;
  width: fit-content;
  padding: .6rem 1rem;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0;
  text-decoration: none !important;
  transition: background-color .2s, color .2s;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 50px;
  border: 1px solid #3643BA;
}

#_middlebanner a:hover {
  background: #fff;
  color: #3643BA !important;
  border-color: #3643BA;
}

@media screen and (max-width: 1000px) {
  #_middlebanner h4 {
    font-size: 22px;
  }

  #_middlebanner p {
    font-size: 18px;
  }

  #_middlebanner li {
    font-size: 14px;
  }

  #_middlebanner a {
    font-size: 12px;
  }
}

@media screen and (max-width: 599px) {
  ._middlebanner-inner {
    display: flex;
    flex-direction: column-reverse;
  }

  #_middlebanner {
    margin-top: 40px;
    padding-bottom: 0;
    padding: 0;
  }

  ._middlebanner-inner {
    gap: 0px;
  }

  ._middlebanner-right {
    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px;
    justify-content: flex-start;
  }

  ._middlebanner-left {
    width: 100%;
    justify-content: center;
  }
}

/* Swiper and Banner Carousel Styles (without navigation buttons) */

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: fit-content;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide picture:after {
  display: none;
}

/* Main Banner Styles */

._mainbanner a {
  border-radius: 0 !important;
}

._main-content {
  bottom: 60px !important;
  padding: 0 14px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

._main-content > p {
  text-transform: uppercase;
  color: var(--cms-c-white);
  font-size: 14px;
  margin: 0 0 8px;
}

._main-content h2 {
  color: #fff;
  font-weight: 700;
  line-height: 3rem;
  margin: 0;
  font-size: 2rem;
  padding: 0 .5rem;
}

.noShadow picture::after {
  display: none;
}

._main-content button {
  background: #3643BA;
  color: #fff;
  padding: 8px 20px;
  font-size: 12px;
  margin-top: 14px;
  border-radius: 500px;
  font-weight: 500;
  width: fit-content;
  text-transform: uppercase;
  transition: background-color .2s, color .2s;
}

._main-content button:hover {
  background: #fff;
  color: #3643BA !important;
}

/* Slider Container Styles */

._slider-container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

._slider-inner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 65px 0 0;
}

.swiper._revamp {
  width: 100%;
  overflow: visible;
}

.swiper-slide._revamp-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  aspect-ratio: 4/5;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: contain;
}

.image-gradient-overlay {
  display: none;
}

.slide-content {
  position: relative;
  z-index: 1;
  margin: 25px 10px !important;
  text-align: center;
  color: #fff;
  padding: 0 10px;
}

.swiper-slide .slide-content {
  opacity: 0;
  transform: perspective(200px) rotateY(-30deg) translateX(-20%);
  transition: opacity .2s ease-in-out, transform .7s ease-out;
}

.swiper-slide.swiper-slide-active .slide-content {
  transition: opacity .2s ease-in-out, transform .7s ease-out;
}

.swiper-slide.swiper-slide-active .slide-content,
.swiper-slide:hover .slide-content {
  transform: perspective(200px) rotateY(0) translateX(0);
  opacity: 1;
}

.swiper-slide._revamp-slide.swiper-slide-active,
.swiper-slide._revamp-slide:hover {
  transform: scale(1.1) translateY(-4.5%);
  z-index: 2;
}

.slide-title {
  font-size: 2.5rem;
  letter-spacing: -.5px;
  line-height: 1.16 !important;
  text-align: center;
  margin: 0 auto 10px;
  width: fit-content;
  font-weight: 600 !important;
}

/* Slide Title */

#main-banner-slider .slide-title {
  font-size: 40px;
  letter-spacing: -.5px;
  line-height: 1.16 !important;
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 600 !important;
  color: #fff;
}

.slide-title span {
  display: inline-block;
}

.slide-title span:nth-of-type(odd) {
  padding-right: 5cqi;
}

.slide-title span:nth-of-type(2n) {
  padding-left: 5cqi;
}

.slide-subtitle {
  font-size: 16px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 500 !important;
}

.slide-button {
  background: #3643BA;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px !important;
  text-decoration: none;
  transition: background-color .2s, color .2s;
}

.slide-button:hover {
  background: #fff;
  color: #3643BA !important;
}

.slide-button._red {
  background: #3643BA;
  color: #fff;
}

.slide-button._red:hover {
  background: #fff;
  color: #3643BA !important;
}

.slide-button._black {
  background: #3643BA;
  color: #fff;
}

.slide-button._black:hover {
  background: #fff;
  color: #3643BA !important;
}

.slide-button._white {
  background: #3643BA;
  color: #fff;
}

.slide-button._white:hover {
  background: #fff;
  color: #3643BA !important;
}

.slide-link-re {
  color: #fff;
  display: block;
  text-decoration: none;
}

/* Price Styles for Slides */

.normal-price-sw,
.sale-price-sw {
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.normal-price-sw span {
  padding: 2px 5px;
  background-color: #ffcd4e;
  color: #010101;
}

.sale-price-sw small {
  text-decoration: line-through;
}

.sale-price-sw span {
  padding: 2px 5px;
  background-color: #e20c18;
  color: #fff;
}

.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(1) translateY(0);
}

/* Swiper Pagination */

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: 0 !important;
  position: absolute !important;
  width: fit-content !important;
  right: 0 !important;
  bottom: 15px !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  padding: 10px !important;
  align-content: center !important;
  border-radius: 20px !important;
  align-items: center;
}

.swiper-pagination-bullet {
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, .2);
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--cms-c-white) !important;
  width: 15px !important;
  height: 15px !important;
  opacity: 1 !important;
}

/* Swiper Wrapper */

.swiper-wrapper {
  height: fit-content;
  min-width: 0 !important;
}

.swiper-wrapper .swiper-slide > * {
  min-width: unset;
  padding: unset;
}

/* Mobile Banner Styles */

@media (max-width: 1000px) {
  .slide-title {
    font-size: 30px;
  }

  #main-banner-slider .slide-title {
    font-size: 30px;
  }

  .slide-subtitle {
    font-size: 13px;
  }

  ._main-content p {
    margin-bottom: 4px;
  }

  ._main-content h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  ._main-content a {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  ._slider-inner {
    padding: 40px 0 0;
  }
}

@media only screen and (max-width: 599px) {
  ._main-content p {
    margin-bottom: 4px;
  }

  ._main-content > p {
    font-size: 12px;
    font-weight: 500;
  }

  ._main-content h2 {
    font-size: 2rem;
    line-height: 3rem;
  }

  ._main-content button {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 500px) {
  ._slider-inner {
    padding: 0;
  }

  .swiper-slide._revamp-slide.swiper-slide-active {
    transform: scale(1) translateY(0);
  }
}

