.price{
  grid-template-areas:
      "primary secondary"
      "primary tertiary"
      "helper helper" !important;
}  

.price_amount.-small{
  padding: .125rem .5rem !important;
  height: 2.5rem !important;
}

h2.u-typo-body-s{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price_discount{
  direction: ltr;
}

.product-shelf .scrollable_container{
  gap: 1rem !important;
}
